[Unit]
Description={{SERVICE_NAME}}
After=network.target

[Service]
Type={{SERVICE_TYPE}}
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{EXEC_START}}
Restart={{SERVICE_RESTART}}
RestartSec={{SERVICE_RESTART_SEC}}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
